name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  backend-tests:
    name: Backend (.NET) unit tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - uses: actions/checkout@v4
      
      - name: Show directory tree (depth 4)
        run: tree -L 4      
        
      - name: Show current working directory
        run: pwd        

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Test
        run: dotnet test --no-build -c Release

  frontend-tests:
      name: Frontend (Vitest) unit tests
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: app
      steps:
        - uses: actions/checkout@v4

        - name: Setup Node
          uses: actions/setup-node@v4
          with:
            node-version: "25"
            cache: "npm"
            cache-dependency-path: app/package-lock.json

        - name: Install dependencies
          run: npm ci

        - name: Unit tests (Vitest)
          run: npm run test:ci
          
  playwright-e2e:
    name: Frontend (Playwright) E2E tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: app/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Build application
        run: npm run build

      - name: Run Playwright tests
        run: npm run e2e:ci

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: app/playwright-report/
          retention-days: 30


  # newman-api-tests:
    # name: Postman (Newman) API tests
    # runs-on: ubuntu-latest
    # needs: [backend-tests]
    # steps:
      # - uses: actions/checkout@v4

      # - name: Setup Node
        # uses: actions/setup-node@v4
        # with:
          # node-version: "25"

      # - name: Install Newman + wait-on
        # run: npm i -g newman wait-on

      # # --- Start API on 5116 ---
      # - name: Setup .NET
        # uses: actions/setup-dotnet@v4
        # with:
          # dotnet-version: "8.0.x"

      # - name: Build API
        # working-directory: api
        # run: |
          # dotnet restore
          # dotnet build -c Release

      # - name: Start API (background)
        # working-directory: api
        # run: |
          # nohup dotnet run -c Release --urls http://localhost:5116 > api.log 2>&1 &

      # - name: Wait for API
        # run: wait-on http://localhost:5116/health -t 120000

      # # --- Run Postman collection ---
      # - name: Run Newman collection
        # run: |
          # newman run postman/collection.json \
            # --env-var baseUrl=http://localhost:5116 \
            # --reporters cli

      # - name: Upload api log (optional)
        # if: always()
        # uses: actions/upload-artifact@v4
        # with:
          # name: newman-logs
          # path: api/api.log
